header {
	background-color: #2D2727;
	color: #F0EB8D;
	font-family: "Roboto";
	font-weight: bolder;
	font-size: 50px;
	text-align: center;
	
}

#boardContainer {
	margin-top: 20px;
	text-align: center;

	display: block; /* Removes any extra space below the SVG */
  margin: auto; /* Centers the SVG horizontally */
  max-height: 95vh; /* Limits the SVG height to be less than the viewport height */
  max-width: 95vw; /* Limits the SVG width to be less than the viewport width */
}
