header {
	background-color: #2D2727;
	color: #F0EB8D;
	font-family: "Roboto";
	font-weight: bolder;
	font-size: 50px;
	text-align: center;
	
}

main {
	display: flex;
}

#sizeSelection {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* This CSS will ensure that the SVG board is responsive and fits within the viewport. */
#boardContainer {
	width: 70vw; /* Viewport width */
	height: 70vh; /* Viewport height */
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 10px;
}

svg {
	/* This will make the SVG responsive while maintaining its aspect ratio */
	max-width: 100%;
	max-height: 100%;
	margin: 5vw; /* Adjust as necessary for padding around the board */
}