

.game-control-panel {
	background-color: #585b70; /* Surface 2 */
	color: #fab387; /* Peach */
	display: flex;
	flex-direction: column;
	width: 100%;
	aspect-ratio: 4/7;
	/*max-width: 40vh;*/
	max-height: 70vh;
	margin: 10px auto;
	border: 2px solid #f5e0dc;
	border-radius: 30px;
	/*overflow: hidden; /* Ensure the children don't overflow */
}

.panel-header {
	display: flex;
	width: 100%;
	align-items: center;
	padding: 0;
}

.panel-body {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

.tab-content-container {
	flex: 1;
	padding: 20px;
	/*margin-top: -1px; /* Aligns with the tabs */
}

.tabs {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0;
	/*list-style-type: none; /* Removes default list styling */
	margin: 0;
	border-left: 3px solid #e99e7e;
	flex: none /*Do not grow beyond the content*/
}

.tab {
	/*display: inline-block;*/
	color: white;
	background-color: #585b70; /* Same color as the rest of the panel */
	margin: 5px; /* Overlap borders */
	border-radius: 30px;
	padding: 10px 20px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	position: relative;
	top: 1px; /* Aligns with the tab content border */
	z-index: 2; /* Ensures tab overlap on tab content */
	/*writing-mode: vertical-rl; /* Make text vertical */
	text-orientation: mixed; /* Ensure text is readable from bottom to top */
	font-weight: bold;
	border: none;
}

.tab:hover {
	background-color: #e99e7e; /* Slightly darker shade for hover */
}

.tab.selected,
.tab:active {
	background-color: #d9856d; /* Even darker shade for selected/active tab */
	color: #FFFFFF; /* White text for better contrast */
}

.tab:not(.selected):focus {
	outline: none; /* Removes focus outline for non-selected tabs */
}

/* Styles for active and inactive tab content */
.tab-content {
	display: none; /* Hide inactive tab content */
}

.tab-content.active {
	display: block; /* Show active tab content */
}

/* Additional styles may be necessary to adjust layout and appearance */
