.timer {
    /* Full width, account for any padding in the parent container */
    width: calc(100% + 20px); /* Adjust the 20px to match the parent's padding */
    margin: -20px; /* Negative margin to offset parent's padding */
    transition: background-color 0.5s ease;
}

.timer.black-turn {
    background-color: black;
    animation: slideInFromLeft 0.5s ease;
    padding: 20px; /* If you want some space inside the black background */
    margin-left: -30px; /* Adjust this value as needed to shift the element to the left */
}

/* Additional styles for animations */
@keyframes slideInFromLeft {
    0% { background-color: white; }
    100% { background-color: black; }
}

@keyframes slideInFromRight {
    0% { background-color: black; }
    100% { background-color: white; }
}
